* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/HACKING -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-myv-mdf.mdf-myv.lrx -text
/apertium-myv-mdf.mdf-myv.t1x -text
/apertium-myv-mdf.mdf-myv.t2x -text
/apertium-myv-mdf.mdf-myv.t3x -text
/apertium-myv-mdf.myv-mdf.dix -text
/apertium-myv-mdf.myv-mdf.lrx -text
/apertium-myv-mdf.myv-mdf.t1x -text
/apertium-myv-mdf.myv-mdf.t2x -text
/apertium-myv-mdf.myv-mdf.t3x -text
/autogen.sh -text
/configure.ac -text
/gt2apertium.cg3r -text
inc/parallell-text-not-bidix.freq -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/aino_smn.txt -text
texts/egil_olli.sme.txt -text
texts/egil_olli.smn.txt -text
texts/giella.sme.txt -text
texts/giella.smn.txt -text
texts/giellagaldu_tyo.sme.txt -text
texts/giellagaldu_tyo.smn.txt -text
texts/gollegiella.sme.txt -text
texts/gollegiella.smn.txt -text
texts/gotkkat.sme.txt -text
texts/gotkkat.smn.txt -text
texts/historia.txt -text
texts/historia_sme.txt -text
texts/historia_smn.txt -text
texts/kn_060215.sme.txt -text
texts/kn_060215.smn.txt -text
texts/kn_samediggi_rahpamii_29032008.sme.txt -text
texts/kn_samediggi_rahpamii_29032008.smn.txt -text
texts/lars_anders_baer.sme.txt -text
texts/lars_anders_baer.smn.txt -text
texts/nickel.txt -text
texts/np_intern_agreement.txt -text
texts/saamelaiset2.sme.txt -text
texts/saamelaiset2.smn.txt -text
texts/saamelaiset_suomessa.sme.txt -text
texts/saamelaiset_suomessa.smn.1.txt -text
texts/saamelaiset_suomessa.smn.txt -text
texts/tarina.sme.txt -text
texts/tarina.smn.txt -text
texts/vaalit2012.sme.txt -text
texts/vaalit2012.smn.txt -text
texts/vajaldumjuovlah.sme.txt -text
texts/vajaldumjuovlah.smn.txt -text
texts/ympsiht.sme.txt -text
texts/ympsiht.smn.txt -text
