/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.log
/config.status
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/modes
/*.mode
/.deps
/config.in
/config
/*.prob
/ltmain.sh
/texinfo.tex
/*.hfst
/*~
/*-loc
/*.pl
*~
.DS_Store
/*.zhfst
/.DS_Store
/test/*-output.txt
*.status
