* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/HACKING -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-myv-mdf.mdf-myv.lrx -text
/apertium-myv-mdf.mdf-myv.t1x -text
/apertium-myv-mdf.mdf-myv.t2x -text
/apertium-myv-mdf.mdf-myv.t3x -text
/apertium-myv-mdf.myv-mdf.dix -text
/apertium-myv-mdf.myv-mdf.lrx -text
/apertium-myv-mdf.myv-mdf.t1x -text
/apertium-myv-mdf.myv-mdf.t2x -text
/apertium-myv-mdf.myv-mdf.t3x -text
/autogen.sh -text
/configure.ac -text
/gt2apertium.cg3r -text
inc/parallell-text-not-bidix.freq -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/BryzhinskiM_2012_18.fin.txt -text
texts/BryzhinskiM_2012_18.myv.txt -text
texts/story.mdf.txt -text svneol=unset#application/octet-stream
texts/story.myv.txt -text svneol=unset#application/octet-stream
